/* Sea Otters Shiny App Theme */

body {
  background-color: whitesmoke;
  font-family: verdana;
  font-size: 16px;
  color: darkslategrey; /* text color */
}

/* Change header text */
h1, h2, h3 {
  font-family: verdana;
  color: darkslategrey;
  text-align: center;
  font-size: 16px;
}

p {
  font-family: verdana;
  font-size: 14px;
  color: darkslategrey;
}

.navbar{ background-color: powderblue;
                           font-family: verdana;
                           font-size: 19px;
                           color: darkslategrey;
                           border: 1.5px solid darkslategrey;
                           box-shadow: 4px 8px slategray;
}

.navbar-default .navbar-brand{color: darkslategrey;
                              font-size: 24px;
                              font-weight: bold;
}

.navbar-nav li a:hover, .navbar-nav > .active > a {
color: darkslategrey !important;
background-color: powderblue !important;
}

